body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-board{
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

#doing, #done, #to-do{
  border: black 1px solid;
  padding: 2%;
  width: 300px;
}


#new-card-form{
  margin-top: 5%;
}

.card{
  padding: 2%;
  margin: 5%;
}

#to-do .card{
  background-color: #cce6ff;
}

#doing .card{
  background-color: #ffffcc;
}

#done .card{
  background-color: #ffcce6;
}