html, body {
  margin: 0px;
  padding: 0px;
}

html{
  width:100%;
  height: 100%;
  display: table;
  top: 0;
}

body {
  width:100%;
  height: 100%;
  background-color: #FEF3F1;
  display:table-cell;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  color: #464749;
}

h2 {
  font-size: 90%;
  font-family: 'Raleway', sans-serif;
  line-height: 1px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: lighter;
}

#header{
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: #464749 1px solid;
}

#logo{
  background: url(./assets/header.png) no-repeat;
  background-size: 100%;
  width: 289px;
  height: 50px;
}

.add-button .button{
  font-size: 90%;
  background-color: #464749;
  border: 1px solid #464749;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: lighter;
}

.add-button .button:hover{
  background-color: #FA9B88;
  border: 1px solid #FA9B88;
  transition-duration: .5s;
}

.button{
  background-color: #464749;
  border: 1px solid #464749;
  color: white;
  margin: 1%;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: lighter;
}

.button:hover{
  background-color: #5fd39f;
  border: 1px solid #5fd39f;
  transition-duration: .5s;
  cursor: pointer;
}

.column-header{
  font-family: 'Satisfy', cursive;
  font-size: 170%;
  margin-top: 20px;
  margin-bottom: -10px;
}

.divider{
  width: 100px;
  padding-top: 3px;
  height: 1px;
  background-color: #5fd39f;
  margin: auto;
}

#new-card-form{
  margin-top: 1%;
}

#uploaded-image-preview{
  height: 100px;
  width: 100px;
  border: black solid 1px;
}

#preview{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#image-upload-area{
  margin-left: 3%;
}

#main-board{
    display: flex;
    flex-direction: column;
}

.card-column {
  padding: 2%;
  width: 350px;
  min-height: 100%;
}

.card-lower-half{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content{
  height: 100%;
  width: 100%;
}

.card-title{
  font-size: 120%;
}

.card-details{
  font-size: 80%;
  display: flex;
  justify-content: space-around;
}

.vote-buttons{
  margin-top: 5%;
}

.card-box{
  padding: 2%;
  margin: 5%;
  min-height: 190px;
  box-shadow: 4px 4px 8px #888888;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.top-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between
}

.points{
  font-size: 80%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.progress-button{
  margin-left: 5px;
}

.progress-button .button{
  color: white;
  background-color: #5fd3cf;
  border: 1px solid #5fd3cf;
}

.progress-button .button:hover{
  background-color: #9aede8;
  border: 1px solid #9aede8;
  transition-duration: .3s;
}

.regress-button .button{
  background-color: #ff0070;
  color: white;
  border: 1px solid #ff0070;
}
.regress-button .button:hover{
  background-color: #ff6dac;
  color: white;
  border: 1px solid #ff6dac;
  transition-duration: .3s;
}

.delete-button{
  float: right;
}

.edit-button{
  float: left;
}

.edit-form{
  display: flex;
  justify-content: space-around;
}

.img-box{
  height: 150px;
  width: 150px;
}

.img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.vote-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:focus{
  outline:0;
}

.delete-button .button{
  font-weight: bold;
  font-size: 100%;
}

.delete-button .button:hover{
  color: white;
  background-color: #ff3242;
  border: #ff3242 solid 1px;
  transition-duration: .3s;
}

@media (min-width: 700px){
  #main-board{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    margin: auto;
  }
}