body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.card-title{
  font-size: 140%;
}

.card-details{
  font-size: 90%;
}

#main-board{
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

#doing, #done, #to-do{
  border: black 1px solid;
  padding: 2%;
  width: 350px;
}

#to-do .card_1, #to-do .card_2, #to-do .card_3{
  background-color: #ffb3ec;
}

#doing .card_1, #doing .card_2, #doing .card_3{
  background-color: #ccb3ff;
}

#done .card_1, #done .card_2, #done .card_3{
  background-color: #b3b3ff;
}


#new-card-form{
  margin-top: 5%;
}

.card_1, .card_2, .card_3 {
  padding: 2%;
  margin: 5%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flashColors {
  0% {background-color: #ccb3ff;}
  50% {background-color: #aa80ff;}
  100% {background-color: #ccb3ff;}
}

/* Standard syntax */
@keyframes flashColors {
  0% {background-color: #ccb3ff;}
  50% {background-color: #aa80ff;}
  100% {background-color: #ccb3ff;}
}

#doing .card_1 {
  -webkit-animation-name: flashColors; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: flashColors;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
